{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lexiclash - Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="navrow backed">
    <h1>Login</h1>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="navrow backed col">{{ form.as_p }}</div>
        <div class="navrow"><button class="b_main" type="submit">Login</button></div>
    </form>
    <div class="navrow backed">
    <p>Don't have an account?</p>
    </div>
    <div class="navrow">
        <form action="{% url 'signup' %}" method="get">
        <button class="b_main" type="submit">Sign Up</button>
    </form>
    </div>
    
</body>
</html>
