{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lexiclash - Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="navrow backed col">
    <h2 class="big">Sign Up</h2>
    <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
        </div>
        <div class="form-group">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
        </div>
        </div>
        <div class="navrow">
        <button type="submit" class="b_main">Sign Up</button>
        </div>
    </form>

    <div class="navrow backed">
        <p>Already have an account? </p>
    </div>
    <div class="navrow">
            <form action="{% url 'login' %}" method="get">
            <button class="b_main" type="submit">Log In</button>
        </form>
        </div>
    </div>
</div>
</body>