{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Board</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        :root{
            --t-siz: calc(55vw/{{ bsiz }});
            --f-t-siz: calc(38vw/{{ bsiz }})
        }
        .tile {
            width: var(--t-siz);
            height: var(--t-siz);
        }
        h1{
            font-size: var(--f-t-siz);
        }
        @media (max-width: 780px) {
            :root{

                --t-siz: calc(100vw/{{ bsiz }});
                --f-t-siz: calc(48vw/{{ bsiz }})
            }
            .wrapper {
                flex-direction: column;
                flex-wrap: wrap;
            }
            .gamefield{
                width: 100vw;
            }
            .appfield{
                width: 100vw;
            }
        }
    </style>
</head>
<body>
    
    <div class="screen">
        {% load game_filters %}
        <div class="wrapper">
            <div class="navrow">
            <div class="gamefield">
                <div class="navrow">
                    <div class="board">
                        <form method="post" action="{% url 'place_tile' %}">
                        {% csrf_token %}
                        {% for row in board %}
                        <div class="row">
                            {% for tile in row %}
                            <button id="{{ tile }}" type="submit" class="tile
                            {% if tile %}{{ tile.mode }}{% endif %}                            
                            {% with x=forloop.counter0|add:center_x y=forloop.parentloop.counter0|add:center_y %}
                            {# Prioritize triple-word > double-word > triple-letter > double-letter #}
                            {% if x|divisibleby:10 and y|divisibleby:10 %}
                                triple-word
                            {% elif x|divisibleby:12 and y|divisibleby:12 %}
                                double-word
                            {% elif x|divisibleby:8 and y|divisibleby:4 %}
                                triple-letter
                            {% elif x|divisibleby:4 and y|divisibleby:8 %}
                                triple-letter
                            {% elif x|divisibleby:16 and y|divisibleby:4 %}
                                double-letter
                            {% elif x|divisibleby:4 and y|divisibleby:16 %}
                                double-letter
                            {% elif x|divisibleby:6 and y|divisibleby:6 %}
                                double-letter
                            {% else %}
                                no-effect
                            {% endif %}
                            {% endwith %}
"
                            name="tile_position" value="{{ forloop.counter0|add:center_x }},{{ forloop.parentloop.counter0|add:center_y }}">
                                {% if tile %}
                                    <h1>{{ tile.letter }}</h1>{% if bsiz < 25 %}&nbsp;<h2><sub><sub>{{ tile.points }}</sub></sub></h2>{% endif %}
                                {% else %}
                                
                                    &nbsp;

                                {% endif %}
                            </button>
                            {% endfor %}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="navrow">
                <div class="appfield">
                {% if user.is_authenticated %}
                    <div class="navrow backed" >
                        <div class="big">
                        {% if hword or vword %}
                            <div class="ccol"><h2><div class="big"><b>Word(s):{% if hword %}{% for word in hword %} {{ word }}{% endfor %}{% endif %}&nbsp{% if vword %}{% for word in vword %} {{ word }}{% endfor %}{% endif %}</b></div></h2></div>&nbsp;
                            <div class='ccol'><h2><div class="big"><b>Value: {{ prescore }}</b></div></h2></div>&nbsp;
                        {% endif %}
                        <div class="ccol"> <h2><div class="big"><b>{{ user }}'s Score: {{ score }}</b></div></h2></div>
                        </div>
                    </div>
                    {% csrf_token %}
                    <div class="col">
                        <div class="ccol">                    
                            <div class="navrow">
                            {% for tile in user_tiles %}
                            <div class="radio-option">
                                <input type="radio" name="user_tile" value="{{ tile }}" id="{{ tile }}" {% if tile.mode == "placing" %}disabled{% endif %}>
                                <label for="{{ tile }}" {% if tile.mode == "placing" %}disabled{% endif %}>
                                    <h1 class="m_til_tex">{{ tile.letter }}</h1>&nbsp;<h2><sub class="m_sub_tex"><sub class="m_sub_tex">{{ tile.points }}</sub></sub></h2>
                                </label>
                            </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </form>
            <div class="navrow">
                <form action="{% url 'submit_tiles' %}" method="post">
                    {% csrf_token %}
                    <button class="b_wide" type="submit">Submit</button>
                </form>
            </div>
            

            <div class="navrow">
            
            <form action="{% url 'undo_tile' %}" method="post">
                {% csrf_token %}
                <button class="b_main" type="submit">Undo</button>
            </form>
            
            <form action="{% url 'clear_placed_tiles' %}" method="post">
                {% csrf_token %}
                <button class="b_main" type="submit">Clear Placed Tiles</button>
            </form>
            </form><form action="{% url 'swap_tiles_view' %}" method="get">
                <button class="b_main" type="submit">Swap Tiles</button>
            </form>
            </div>

            <div class="navrow">
            <form action="{% url 'zoom_view' +4 %}" method="get">
                <button class="b_main" type="submit">Zoom Out</button>
            </form><form action="{% url 'leaderboard' %}" method="get">
                <button class="b_main" type="submit">Leaderboard</button>
            </form>
            </form><form action="{% url 'zoom_view' -4 %}" method="get">
                <button class="b_main" type="submit">Zoom In</button>
            </form>
            
            </div>
            <div class="navrow">
            
            <a href="{% url 'logout' %}">
                <div class="b_wide">Sign Out</div>
            </a>
            {% else %}
        </form>
            {% csrf_token %}
            <div class="navrow backed title">Lexiclash!</div>
            <div class="navrow backed big">
                A spellbinding game of infinite words
            </div>
            <div class="navrow backed">
                Version: 0.1
            </div>
            <div class="navrow backed">&nbsp;</div>
            <div class="navrow">
            <form action="{% url 'signup' %}" method="get">
                <button class="b_main" type="submit">Sign Up</button>
            </form>
            <form action="{% url 'login' %}" method="get">
                <button class="b_main" type="submit">Log In</button>
            </form>
            
            </div>
            {% endif %}

        </div>
    </div>
    </div>
</div>
</body>
</html>
